@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --yellow-color: #ffa832;
  --site-text-color: #666666;
  --site-heading-color: #181818;
  --site-border-color: #ececec;
  --site-wc-price: rgba(24, 24, 24, 0.8);
  --site-wc-price-old: rgba(24, 24, 24, 0.5);
  --site-header-border-color: rgba(102, 102, 102, 0.15);
  --dropdown-secondary-color: rgba(102, 102, 102, 0.7);
  --dropdown-grey-color: rgba(102, 102, 102, 0.5);
  --site-secondary-button-bg: #222222;
  --page-header-bg-color: #f6f6f6;
  --page-header-text-color: #777777;
  --page-header-heading-color: #111111;
  --page-header-font-size: 60px;
  --site-font-size: 16px;
  --heading-font-weight: 500;
  --site-font-weight: 400;
  --site-main-font: "Outfit", sans-serif;
  --site-button-radius: 3px;
  --site-field-radius: 0px;
}


.logo {
  font-size: 36px;
}

body {
  font-family: var(--site-main-font);
  overflow-x: hidden !important;
}

.link-hover:hover {
  color: var(--yellow-color);
}

.slick-slide .slick-class {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}





  